<form [formGroup]="registerForm" (ngSubmit)="register()" class="form-box login">
  <h2>Register</h2>
  <div>
    <div class="input-box">
      <span class="icon"><i class="bi bi-person"></i></span>
      <input type="text" name="username" id="username" formControlName="username" required>
      <label>Username</label>
      <div *ngIf="registerForm.get('username')?.errors?.['pattern']" style="color: tomato;padding-top: 5px;font-size: 15px;">Username only include number or character.</div>
      <div *ngIf="registerForm.get('username')?.errors?.['minlength']" style="color: tomato;padding-top: 5px;font-size: 15px;">Username must be more than 3 character</div>
      <div *ngIf="registerForm.get('username')?.errors?.['maxlength']" style="color: tomato;padding-top: 5px;font-size: 15px;">Username must not be more than 32 character</div>
    </div>
    <div class="input-box">
      <span class="icon"><i class="bi bi-lock"></i></span>
      <input type="password" name="password" id="password" formControlName="password" required>
      <label>Password</label>
      <div *ngIf="registerForm.get('password')?.errors?.['pattern']" style="color: tomato;padding-top: 5px;font-size: 15px;">password must have at least 1 uppercase lowercase character and number</div>
      <div *ngIf="registerForm.get('password')?.errors?.['minlength']" style="color: tomato;padding-top: 5px;font-size: 15px;">Password must be more than 6 character</div>
      <div *ngIf="registerForm.get('password')?.errors?.['maxlength']" style="color: tomato;padding-top: 5px;font-size: 15px;">Password must not be more than 32 character</div>
    </div>
    <div class="input-box">
      <span class="icon"><i class="bi bi-lock"></i></span>
      <input type="password" name="confirmPassword" id="confirmPassword" formControlName="confirmPassword" required>
      <label>Define Password</label>
      <div *ngIf="isError == 400" style="color: tomato;padding-top: 5px;font-size: 15px;">Tài khoản đã tồn tại.</div>
      <div *ngIf="isError == 500" style="color: tomato;padding-top: 5px;font-size: 15px;">Mật khẩu xác nhận không đúng</div>
      <div *ngIf="isError > 200 && isError != 400 && isError != 500" style="color: tomato;padding-top: 5px;font-size: 15px;">Lỗi khác : {{isError}}</div>
    </div>
    <button [disabled]="!registerForm.valid" type="submit" id="Submit" class = "btn">Register</button>
    <div class="login-register me-3 ms-3 pe-5 ps-5">
      <p class="">Already have account  <span class="register-link" (click)="changeLogin.emit()">Login</span></p>
    </div>
  </div>
</form>
