td {
  vertical-align: middle;
  border-bottom: 1px solid #ededed ;
}
.name{
  width: 200px;
}
.mail{
  width: 200px;
}
.desc{
  width: 1000px;
}
.action{
  border-left: 1px solid #ededed;
  margin-left: 20px;
  padding-left: 20px;
  width: 100px;
}
